footer
{
    display: flex;
    justify-content: space-around;
    background-color: rgba(56,38,115,255);

}

footer a
{
    font-size: 80%;
    height: 2.5rem;
    text-decoration: none;
    color: #000;
}
footer a:hover
{
    color: rgba(0,194,169,255);
    transition-duration: .3s;
}
.contact
{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 25%;
}
.contact div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}