<div class="bg-dark text-white container mt-4 d-flex justify-content-center align-items-center"> 
  <img src="images/award.svg" alt="bestseller" id="img">
  <div class="text-center m-3">
    <h1>Best Seller</h1>
  </div>
</div>

<div class="row m-auto container mt-4 d-flex justify-content-around">
  @for(product of products; track product._id){
  <div class="card m-2 col-4 " style="width: 18rem;">
    <img [src]="imgDomain+product.cover" class="card-img-top w-100 h-50" [alt]="product.name">
    <div class="card-body position-relative">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description|description:15}}</p>
      <p class="card-text">price : {{product.price|currency}}</p>
      <p class="card-text">{{product.ratingAverage}} &star; - count {{product.ratingCount}}</p>
      <div class="btn-card mt-2 mb-2 d-flex">
        <a [routerLink]="['/products',product._id]" class="btn btn-primary d-inline m-1">See More</a>
        <button (click)="addToCart(product._id)" class="btn btn-success d-inline m-1">Add to Cart</button>
      </div>
    </div>
  </div>
  }
</div>